td input{
	width: 150px;
	height: 50px;
	background-color: rgb(70, 70, 70);
	color: white;
	border: none;
    border-radius: 100px;

}
h1{
    text-align: center;
    color: aliceblue;
}
.text{
	margin-left: 4px;
	width: 610px;
	height: 70px;	
	background-color: rgb(4, 130, 168);
	border: none;
    color: white;
    border-radius: 30px;
    font-size: 30px;
}
.text:focus{
    outline: none;

}
td input:hover{
	background-color: #5C5C5C;
	color: white;
}

.form{
    margin: auto;
    width: 50%;

}
td input:focus{
    border: none;
    outline: none;
    outline-style: none;
}
html{
    background-image: url('https://hdwallsource.com/img/2014/9/earth-and-moon-wallpaper-hd-33271-34028-hd-wallpapers.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
}